/* Colors */
$red: #F00D36;
$background: #E53241;
$white: #ffffff;
$dark: #333333;
//-> Hamburger menu ---
//   based on: http://www.elijahmanor.com/css-animated-hamburger-icon/
#drawer{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
  background: $white;
	transform: translateX(-1000px) translateZ(0);
	//transform: translate3d( -300px, 0px, 0px);
	z-index: 1101;
	.username{
		//background: rgba(0, 0, 0, 0.2);
    font-size: 16px;
    left: 0;
    line-height: 28px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 13px;
    position: absolute;
    top: 56px;
    width: 100%;
    z-index: 1110;
	}
	.nav{
		height: 100%;
		li {
	    border-bottom: 1px solid #e9e9e9;
	    font-size: 14px;
	    height: 46px;
	    line-height: 46px;
	    position: relative;
	    width: 100%;
	    a{
	    	color: $dark;
		    padding-left: 16px;
	    	width: 100%;
	    	display: block;
		    i{
		    	background-size: cover;
		    	display: inline-block;
			    height: 26px;
			    left: -4px;
			    position: relative;
			    top: 8px;
			    width: 26px;
		    }
	    }
		}
		.title{
			background: #dbdbdb;
	    color: #4f4f4f;
	    font-size: 12px;
	    height: 26px;
	    line-height: 26px;
	    padding-left: 16px;
		}
		.bottom{
	    border-top: 1px solid #dbdbdb;
	    background: #eee;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			li{
				//font-size: 10px;
		    border: none;
				a{
					i{
						height: 20px;
						width: 20px;
					}
				}
			}
		}
	}
}
// drawer dimmer to dimm background when the menu is openned
#drawer-dimm{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	opacity: 0;
	z-index: 1100;
	visibility: hidden;
}
// hamburger icon for toggle button in topbar
#burger{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1101;
}
// swipe stripe at the left edge of the screen
#swipe-stripe{
	width: 15px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
	z-index: 1100;
}
// BONUS
// action button for your app!
.add-panel{
  .switch{
    z-index: 99999;
    &.active{
    	.option{
    		&.one, &.two {
	  			z-index: 99999;
	        visibility: visible;
	        opacity: 1;
	      }
	      &.one{
	      	transition: all 0.3s ease-in-out 0s;
	      	transform: translate(-4px, -122px) translateZ(0);
	      }
	      &.two{
	      	transition: all 0.2s ease-in-out 0s;
	      	transform: translate(-4px, -66px) translateZ(0);
	      }
    	}
      .plus{
      	z-index: 99999;
        visibility: visible;
        opacity: 1;
        background: $white !important;
      	transform: rotate(135deg) !important;
      }
    }
    .option{
	    &.one, &.two {
	      position: absolute;
	      visibility: hidden;
	      opacity: 0;
	      //transform: translate(0,0) translateZ(0);
	    }
    }
    .plus {
      background: $white !important;
      transition: all 0.2s ease-in-out 0s;
      position: absolute;
    }
    .action-button{
			position: absolute;
			bottom: 28px;
			right: 28px;
			width: 56px;
			height: 56px;
			z-index: 100;
			background: #fff;
			text-align: center;
			line-height: 56px;
			border-radius: 100%;
			font-size: 24px;
			&.one, &.two{
				overflow: hidden;
				border-radius: 100%;
				width: 46px;
				height: 46px;
				color: $white;
				font-size: 18px;
				line-height: 49px;
			}
			&.single{
				bottom: 33px;
				right: 33px;
			}
			&.one{
				background: $red;
			}
			&.two {
				background: $background;
			}
		}
  }
}