<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/ng-nlFramework.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <!-- dependencies -->
    <script src="js/hammer.min.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <!-- Angular libraries -->
    <script src="js/angular/angular-route.min.js"></script>
    
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/ng-nlFramework.js"></script>

  </head>
  <body ng-app="exampleApp" id="cont" ng-controller="AppCtrl">

  <div id="debug" style="position: fixed; top: 60px; right: 0; z-index: 99999"></div>

  <!-- action button -->
  <div id="nlActionButton" class="switch">
    <div class="action-button depth z1 option one" ng-click="toast.show('Action 2', 'top', toastOk, toastFalse ); drawer.togglePlus()">
        2
    </div>
    <div class="action-button depth z1 option two" ng-click="toast.show('Action 1', '', toastOk, toastFalse ); drawer.togglePlus()">
        1
    </div>
    <div id="nlPlus" class="action-button depth z1 plus" ng-click="drawer.togglePlus()">
      <span>
        +
      </span>
    </div>
  </div>
  
  <!-- pull-to-refresh indicator -->
  <div id="nlRefresh">
    <svg version="1.1" id="reload-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 342.5 342.5" style="enable-background:new 0 0 342.5 342.5;" xml:space="preserve">
    <path d="M254.37,22.255c-1.161-0.642-2.53-0.795-3.803-0.428c-1.274,0.367-2.35,1.226-2.992,2.387l-21.758,39.391
      c-1.335,2.417-0.458,5.459,1.96,6.794C264.616,90.748,287.5,129.495,287.5,171.52c0,63.649-51.782,115.431-115.431,115.431
      S56.638,235.169,56.638,171.52c0-23.888,7.557-47.427,21.382-66.897l34.478,34.478c1.338,1.337,3.315,1.806,5.109,1.21
      c1.795-0.596,3.101-2.152,3.374-4.024L139.963,6.271c0.228-1.563-0.295-3.141-1.412-4.258c-1.117-1.117-2.7-1.639-4.258-1.412
      L4.278,19.584c-1.872,0.273-3.428,1.579-4.023,3.374c-0.596,1.795-0.127,3.772,1.21,5.109l37.292,37.292
      C14.788,95.484,1.638,133,1.638,171.52c0,93.976,76.455,170.431,170.431,170.431c93.976,0,170.431-76.455,170.431-170.431
      C342.5,109.478,308.731,52.283,254.37,22.255z"/>
    </svg>
  </div>

  <!-- toast element -->
  <div id="nlToast" class="depth z1">
    <!-- 
    <i class="action">
      <svg version="1.1" id="diss" class="diss" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28 28" style="enable-background:new 0 0 28 28;" xml:space="preserve">
        <g><path d="M0,24l4,4l10-10l10,10l4-4L18,14L28,4l-4-4L14,10L4,0L0,4l10,10L0,24z"/></g>
      </svg> | Action
    </i>
    -->
  </div>
  <!-- top bar with title ( current cestion, action, etc.) -->
  <div id="nlTopbar" class="depth z1">
    <div class="title">
      {{ title }}
    </div>
  </div>

  <!-- toggle icon for toggling drawer -->
  <div id="nlBurger" ng-click="drawer.toggle()">
    <div id="burger-top"></div>
    <div id="burger-center"></div>
    <div id="burger-bottom"></div>
  </div>

  <!-- secondary menu -->
  <div id="nlMenu" class="main">
    <div id="nlIcon" ng-click="menu.show()">
      <div id="dot-top"></div>
      <div id="dot-center"></div>
      <div id="dot-bottom"></div>
    </div>
    <div id="nlMenuContent" ng-click="menu.hide()">
      <!-- place your menu content here -->
      <ul>
        <li ng-click="toast.show('Selected Share','','','',2500)">Share</li>
        <li ng-click="toast.show('Selected Edit','','','',2500)">Edit</li>
        <li ng-click="toast.show('Selected Hug someone','','','',2500)">Hug someone</li>
      </ul>
    </div>
  </div>

  <!-- stripe on the left of the screen to detect slide from side of the screen -->
  <div id="nlSwipe"></div>

  <!-- body of the menu drawer -->
  <div id="nlDrawer" ng-click="drawer.hide()">
    <div class="topbar drawer large">
      <img class="gravatar depth z1" src="./img/free-flat-icons-set-thumb.jpg">
      <div class="username">
        <strong>John</strong><br>
        Doe
      </div>
    </div>
    <ul class="nav">
      <li><a href="#app">App</a></li>
      <li><a href="#settings">Settings</a></li>
      <div class="bottom">
        <li><a href="#settings">Settings</a></li>
      </div>
    </ul>
  </div>

  <!-- takes care of the overlay dimming -->
  <div id="nlDimm" ng-click="drawer.hide();"></div>
  
  <!-- view content - used as a wrapper -->
  <div id="nlContent">
    <!-- your part of the code, views etc.. -->
    <div ng-view="" class="page {{ title }}"></div>
  </div>

  </body>
</html>
