/* settings */
$padding: 15px;
$margin: 5px;
$max-width: 960px;
$column: $max-width / 9;
/* grid */
.row{
	background: red;
	.colums, 
	.column{
		margin: $margin;
		padding: $padding;
		&.full{
			margin: 0;
			padding: 0;
			width: 100%;
		}
		&.one{
			width: $column;
		}
		&.two{
			background: red;
			width: $column*2;
		}
		&.three{
			width: $column*3;	
		}
		&.four{
			width: $column*4;	
		}
		&.five{
		}
		&.six{
		}
		&.seven{
		}
		&.eight{
		}
		&.nine{
			font-size: 50px;
		}
	}
}