
/* Colors */
$mainColor: #F00D36;
$white: #ffffff;

a{
	text-decoration: none;
}
// pages
.page{
	.icon{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 5rem;
		pointer-events: none;
	}
	.content{
		padding: 1.5rem;
		h2{
			font-size: 1.2rem;
			font-weight: lighter;
		}
	}
	&.AppCtrl{
		background: #303040;
		color: white;
		.icon{
			fill: white;
			opacity: 0.2;
		}
		.content{
			color: $white;
			h1, h2{
				color: $white;
			}
		}
	}
	&.SettingsCtrl{
		background: #e7e7e7;
		color: white;
		.icon{
			fill: $mainColor;
			opacity: 0.2;
		}
		.content{
			select, input{
		    background: rgba(255, 255, 255, 0.7);
		    border: none;
				border-bottom: 1px solid $mainColor + #444;
		    height: 2rem;
		    width: 100%;
		    padding: 0.5rem;
			}
		}
	}
}