/* Colors */
a {
  text-decoration: none; }

.page {
  position: relative;
  width: 100%;
  height: 100%; }
  .page .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 5rem;
    pointer-events: none; }
  .page .content {
    padding: 1.5rem; }
    .page .content h2 {
      font-size: 1.2rem;
      font-weight: lighter; }
  .page.AppCtrl {
    background: #303040;
    color: white; }
    .page.AppCtrl .icon {
      fill: white;
      opacity: 0.2; }
    .page.AppCtrl .content {
      color: #ffffff; }
      .page.AppCtrl .content h1, .page.AppCtrl .content h2 {
        color: #ffffff; }
  .page.SettingsCtrl {
    background: #e7e7e7;
    color: white; }
    .page.SettingsCtrl .icon {
      fill: #F00D36;
      opacity: 0.2; }
    .page.SettingsCtrl .content select, .page.SettingsCtrl .content input {
      background: rgba(255, 255, 255, 0.7);
      border: none;
      border-bottom: 1px solid #ff517a;
      height: 2rem;
      width: 100%;
      padding: 0.5rem; }
