/* Colors */
#drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  z-index: 1101;
  -webkit-transform: translateX(-1000px) translateZ(0);
          transform: translateX(-1000px) translateZ(0); }
  #drawer .username {
    font-size: 16px;
    left: 0;
    line-height: 28px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 13px;
    position: absolute;
    top: 56px;
    width: 100%;
    z-index: 1110; }
  #drawer .nav {
    height: 100%; }
    #drawer .nav li {
      border-bottom: 1px solid #e9e9e9;
      font-size: 14px;
      height: 46px;
      line-height: 46px;
      position: relative;
      width: 100%; }
      #drawer .nav li a {
        color: #333333;
        padding-left: 16px;
        width: 100%;
        display: block; }
        #drawer .nav li a i {
          background-size: cover;
          display: inline-block;
          height: 26px;
          left: -4px;
          position: relative;
          top: 8px;
          width: 26px; }
    #drawer .nav .title {
      background: #dbdbdb;
      color: #4f4f4f;
      font-size: 12px;
      height: 26px;
      line-height: 26px;
      padding-left: 16px; }
    #drawer .nav .bottom {
      border-top: 1px solid #dbdbdb;
      background: #eee;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%; }
      #drawer .nav .bottom li {
        border: none; }
        #drawer .nav .bottom li a i {
          height: 20px;
          width: 20px; }

#drawer-dimm {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 1100;
  visibility: hidden; }

#nav-toggle {
  position: absolute;
  top: 18px;
  left: 18px; }
  #nav-toggle span, #nav-toggle span.one, #nav-toggle span.two {
    pointer-events: none;
    background: white;
    content: "";
    cursor: pointer;
    display: block;
    height: 2px;
    position: absolute;
    width: 18px;
    top: 10px;
    -webkit-transition: all 260ms ease-in-out;
            transition: all 260ms ease-in-out;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
            transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
    z-index: 1110; }
  #nav-toggle span.one {
    top: 3px; }
  #nav-toggle span.two {
    top: 17px; }
  #nav-toggle.active span {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
            transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg); }
    #nav-toggle.active span.one, #nav-toggle.active span.two {
      top: 0; }
    #nav-toggle.active span.one {
      -webkit-transform: translate3d(-3px, 6px, 0) rotate3d(0, 0, 1, -45deg);
              transform: translate3d(-3px, 6px, 0) rotate3d(0, 0, 1, -45deg);
      width: 12px; }
    #nav-toggle.active span.two {
      -webkit-transform: translate3d(-3px, 14px, 0) rotate3d(0, 0, 1, 45deg);
              transform: translate3d(-3px, 14px, 0) rotate3d(0, 0, 1, 45deg);
      width: 12px; }

#swipe-stripe {
  width: 15px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 1100; }

.add-panel .switch {
  z-index: 99999; }
  .add-panel .switch.active .option.one, .add-panel .switch.active .option.two {
    z-index: 99999;
    visibility: visible;
    opacity: 1; }
  .add-panel .switch.active .option.one {
    -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
    -webkit-transform: translate(-4px, -122px) translateZ(0);
            transform: translate(-4px, -122px) translateZ(0); }
  .add-panel .switch.active .option.two {
    -webkit-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
    -webkit-transform: translate(-4px, -66px) translateZ(0);
            transform: translate(-4px, -66px) translateZ(0); }
  .add-panel .switch.active .plus {
    z-index: 99999;
    visibility: visible;
    opacity: 1;
    background: #ffffff !important;
    -webkit-transform: rotate(135deg) !important;
        -ms-transform: rotate(135deg) !important;
            transform: rotate(135deg) !important; }
  .add-panel .switch .option.one, .add-panel .switch .option.two {
    position: absolute;
    visibility: hidden;
    opacity: 0; }
  .add-panel .switch .plus {
    background: #ffffff !important;
    -webkit-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
    position: absolute; }
  .add-panel .switch .action-button {
    position: absolute;
    bottom: 28px;
    right: 28px;
    width: 56px;
    height: 56px;
    z-index: 100;
    background: #fff;
    text-align: center;
    line-height: 56px;
    border-radius: 100%;
    font-size: 24px; }
    .add-panel .switch .action-button.one, .add-panel .switch .action-button.two {
      overflow: hidden;
      border-radius: 100%;
      width: 46px;
      height: 46px;
      color: #ffffff;
      font-size: 18px;
      line-height: 49px; }
    .add-panel .switch .action-button.single {
      bottom: 33px;
      right: 33px; }
    .add-panel .switch .action-button.one {
      background: #F00D36; }
    .add-panel .switch .action-button.two {
      background: #E53241; }

#topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  line-height: 56px;
  background: #E53241;
  color: #ffffff;
  z-index: 110; }
  #topbar .gravatar {
    border-radius: 50%;
    bottom: 20px;
    height: 66px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    width: 66px; }
  #topbar .title {
    position: fixed;
    top: 0;
    left: 56px;
    line-height: 56px;
    color: #ffffff;
    pointer-events: none;
    font-size: 18px;
    z-index: 1110; }
  #topbar.fixed {
    position: fixed; }
  #topbar.drawer {
    position: relative; }
  #topbar.large {
    height: 140px;
    background: -webkit-linear-gradient(325deg, #E53241, #d42130);
    background: linear-gradient(125deg, #E53241, #d42130); }
  #topbar .city {
    float: right;
    font-size: 12px; }

.depth.z1 {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4); }

.page {
  position: relative;
  width: 100%;
  height: 100%; }
  .page .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 5rem; }
  .page.AppCtrl {
    background: #303040;
    color: white; }
    .page.AppCtrl .icon {
      fill: white;
      opacity: 0.2; }
  .page.SettingsCtrl {
    background: #e7e7e7;
    color: white; }
    .page.SettingsCtrl .icon {
      fill: #F00D36;
      opacity: 0.2; }
