// Colors
$mainColor: #333;
$secColor: #444;
$white: #ffffff;
$dark: #333333;

#nlDrawer{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
  background: $white;
	transform: translateX(-1000px) translateZ(0);
	z-index: 1105;
	.username{
    font-size: 16px;
    left: 0;
    line-height: 28px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 13px;
    position: absolute;
    top: 56px;
    width: 100%;
    z-index: 1110;
	}
	.nav{
		height: 100%;
		li {
	    border-bottom: 1px solid #e9e9e9;
	    font-size: 14px;
	    height: 46px;
	    line-height: 46px;
	    position: relative;
	    width: 100%;
	    a{
	    	color: $dark;
		    padding-left: 16px;
	    	width: 100%;
	    	display: block;
		    i{
		    	background-size: cover;
		    	display: inline-block;
			    height: 26px;
			    left: -4px;
			    position: relative;
			    top: 8px;
			    width: 26px;
		    }
	    }
		}
		.title{
			background: #dbdbdb;
	    color: #4f4f4f;
	    font-size: 12px;
	    height: 26px;
	    line-height: 26px;
	    padding-left: 16px;
		}
		.bottom{
	    border-top: 1px solid #dbdbdb;
	    background: #eee;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			li{
				//font-size: 10px;
		    border: none;
				a{
					i{
						height: 20px;
						width: 20px;
					}
				}
			}
		}
	}
}

#nlDimm{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	opacity: 0;
	visibility: hidden;
	z-index: 1104;
}

#nlBurger {
  position: fixed;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  display: block;
  //pointer-events: none;
  z-index: 1106;
  #burger-top, #burger-center, #burger-bottom{
  	position: relative;
  	left: 18px;
  	width: 20px;
  	height: 2px;
  	background: $white;
  	border-radius: 2px;
  	-webkit-backface-visibility: hidden;
  	transform-origin: 95% 50%;
  }
  #burger-top{
  	top: 21px;
  }
  #burger-center{
  	top: 25px;
  }
  #burger-bottom{
  	top: 29px;
  }
}

#nlMenu {
	position: fixed;
	display: block;
	z-index: 1104;
	height: 56px;
  width: 56px;
	&.main{
		position: fixed;
		right: 0;
		top: 0;
	}
	#nlIcon{
		height: 56px;
	  width: 56px;
	  #dot-top, #dot-center, #dot-bottom{
			background: $white;
			border-radius: 2px;
			height: 4px;
			left: 36px;
			position: relative;
			transform-origin: 95% 50% 0;
			width: 4px;
			-webkit-backface-visibility: hidden;
	  }
	  #dot-top{
	  	top: 18px;
	  }
	  #dot-center{
	  	top: 22px;
	  }
	  #dot-bottom{
	  	top: 26px;
	  }
	}
	#nlMenuContent{
		background: $white;
		color: $dark;
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
		line-height: 1.5rem;
		border-radius: 2px;
		padding: 0.5rem 0.9rem;
		z-index: 1104;
		visibility: hidden;
		li {
		  white-space: nowrap;
		  line-height: 2rem;
		}
	}
}

#nlSwipe{
	width: 15px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
	z-index: 1100;
}

#nlTopbar, .topbar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 56px;
	line-height: 56px;
	background: $secColor;
	color: $white;
	z-index: 1104;
	&.drawer{
		position: relative;
	}
	&.large{
		height: 140px;
	  background: linear-gradient(125deg, $secColor, $secColor - #111);
	}
	.title{
		position: fixed;
		top: 0;
		left: 56px;
		line-height: 56px;
		color: $white;
		font-size: 18px;
		z-index: 1110;
		pointer-events: none;
	}
	.gravatar{
		border-radius: 50%;
		bottom: 20px;
		height: 66px;
		overflow: hidden;
		position: absolute;
		right: 20px;
		width: 66px;
	}
}

#nlToast {
	background: #212121;
	border-radius: 1.5rem;
	bottom: 1rem;
	color: #fff;
	left: 5%;
	line-height: 1.6rem;
	max-width: 90%;
	min-height: 3rem;
	padding: 0.7rem 1rem;
	position: fixed;
	right: 5%;
	transform: translate3d(0px, 200%, 0px);
	transform-origin: 50% 50% 0;
	width: 30rem;
	z-index: 1104;
}

#nlRefresh{
	background: white none repeat scroll 0 0;
	border-radius: 100%;
	width: 42px;
	height: 42px;
	line-height: 42px;
	position: absolute;
	text-align: center;
	transform-origin: 50% 50% 0;
	z-index: 1103;
	box-shadow: 0 0 6px -2px rgba(0,0,0,0.6);
	#reload-icon {
		height: 50%;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 50%;
	}
}

#nlActionButton{
  &.active{
  	.option{
  		&.one, &.two {
        visibility: visible;
        opacity: 1;
      }
      &.one{
      	transition: all 0.3s ease-in-out 0s;
      	transform: translate(-4px, -122px) translateZ(0);
      }
      &.two{
      	transition: all 0.2s ease-in-out 0s;
      	transform: translate(-4px, -66px) translateZ(0);
      }
  	}
    .plus{
    	z-index: 1105;
      visibility: visible;
      opacity: 1;
      background: $white !important;
    	transform: rotate(135deg) !important;
    }
  }
  .option{
		z-index: 1105;
    &.one, &.two {
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }
  }
  .plus {
    background: $white !important;
    transition: all 0.2s ease-in-out 0s;
    position: absolute;
		z-index: 1104;
  }
  .action-button{
		position: absolute;
		bottom: 28px;
		right: 28px;
		width: 56px;
		height: 56px;
		background: $white;
		text-align: center;
		line-height: 56px;
		border-radius: 100%;
		font-size: 24px;
		&.one, &.two{
			overflow: hidden;
			border-radius: 100%;
			width: 46px;
			height: 46px;
			color: $white;
			font-size: 18px;
			line-height: 49px;
		}
		&.single{
			bottom: 33px;
			right: 33px;
		}
		&.one{
			background: $mainColor;
		}
		&.two {
			background: $secColor;
		}
	}
}

#nlContent{
	position: relative;
	#nlInner{
		height: 100%;
		width: 100%;
		position: absolute;
		overflow: auto;
	}
}

#nlModal {
  background: $white;
  border-radius: 2px;
  box-shadow: 0 2px 26px 0 #000000;
  left: 50%;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  visibility: hidden;
  width: 85%;
  z-index: 1104;
}

// to add depth to elements
.depth{
	&.z1{
		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4); 
	}
}